In [10]:
import pandas as pd

df = pd.read_csv('../data/airport-codes.csv')

df = df.rename(columns={'municipality': 'city'})

display(df[df['iata_code'] == "GVA"])

,ident,type,name,elevation_ft,continent,iso_country,iso_region,city,gps_code,iata_code,local_code,coordinates
43625,LSGG,large_airport,Geneva Cointrin International Airport,1411.0,EU,CH,CH-GE,Geneva,LSGG,GVA,NaN,"46.238098, 6.10895"

In [12]:
minimal_df = df[['continent', 'iso_country', 'city', 'iata_code']]

In [13]:
countries = pd.read_csv('../data/country-isocodes.csv')

In [14]:
# Perform the join on the 'iso_country' column
merged_df = minimal_df.merge(countries[['iso_country', 'country']], on='iso_country', how='left')

display(merged_df)

,continent,iso_country,city,iata_code,country
0,NaN,US,Bensalem,NaN,America
1,NaN,US,Leoti,NaN,America
2,NaN,US,Anchor Point,NaN,America
3,NaN,US,Harvest,NaN,America
4,NaN,US,King Salmon,NaN,America
...,...,...,...,...,...
80852,EU,GB,Sealand,NaN,United Kingdom
80853,AF,TF,Grande Glorieuse,NaN,French Southern Territories
80854,NaN,US,Blum,NaN,America
80855,NaN,CA,(Old) Scandium City,NaN,Canada
80856,AS,JP,Mishima,NaN,Japan

In [15]:
# An IATA airport code, also known as an IATA location identifier, 
# IATA station code, or simply a location identifier, is a three-letter code
# Only return airports with a iata_code for searching on the web
merged_df[merged_df['iata_code'].notnull()].to_csv('../data/airport-codes-minimal.csv', index=False)